<h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>


<!-- the following code in implemented according to page no 174 -->
<div class="depot_form">
<fieldset>
<legend>Please Enter Your Details</legend>
<%= render 'form', order: @order %>
</fieldset>
</div>