
<!-- this file is created by instruction given on page no 148 -->

<% unless cart.line_items.empty? %>
<!-- the line no 4 and 15 are added according to page no 161 -->
<h2>Your Cart</h2>
<table>
 <%= render(cart.line_items) %>
<tr class="total_line">
<td colspan="2">Total</td>
 <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
</tr>
</table>
<%= button_to "Checkout", new_order_path, method: :get %>
 <%= button_to 'Empty cart', cart, method: :delete,data: { confirm: 'Are you sure?' } %>
 <% end %>