<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='<%= controller.controller_name %>'>
  
<div id="banner">
 <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
 <span class="title"><%= @page_title %></span>
 </div>
 <div id="columns">
 <div id="side">
 <div id="cart">
 <% if @cart %>
 <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
 <%= render @cart %>
 <% end %>
 <% end %>
 </div>
 <ul>
 <li><a href="http://www....">Home</a></li>
 <li><a href="http://www..../faq">Questions</a></li>
 <li><a href="http://www..../news">News</a></li>
 <li><a href="http://www..../contact">Contact</a></li>
 </ul>
 </div>
 <div id="main">
<%= yield %>
 </div>
</div>
</body>
</html>
